            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Administration</li>

                            <li>
                                <a href="{{parseUrl 'users-students' urls page='1' limit='20'}}">
                                    <i class="fe-users"></i>
                                    <span> Students </span>
                                </a>
                            </li>
                            <li>
                                <a href="{{parseUrl 'books' urls page='1' limit='20'}}">
                                    <i class="fe-book"></i>
                                    <span> Books </span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>